* {
    margin: 0;
    padding: 0;
}

nav {
    background-color:purple;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    background-color: rgb(127, 57, 141);
    display: block;
    padding: 2px 10px;
}

nav a:hover {
    background-color: rgb(0, 0, 32);
}

.menu > li{
    float: left;
    width: 25%;
    text-align: center;
}

li ul {
    display: none;
}

li:hover > ul {
    display: block;
}

nav ul {
    list-style: none;
}
